<font color='#79c5fb' size='24'>Curriculum Vitae (CV/Resume)</font>
<img src='xmlData/images/pdf.jpg' />
<a href="http://www.ghostmonk.com/resume.pdf"><font color="#79c5fb"><u>Full PDF Version</u></font></a>
<font color="#79c5fb" size="18">SUMMARY</font><br />Senior developer with a breadth of knowledge and expertise in object oriented programming and design, web production, communication and digital imaging. Over 7 years experience in media, with a solid grasp of life-cycles on complex interactive projects. Proven track record in project management, consistently meeting deadlines and project briefs. Looking for challenging full-time employment with a competitive new media company producing cutting edge work in the interactive space. Currently working in the web, ActionScript 3 and Object Oriented Design but seriously interested in other domains, languages and paradigms.
<font color="#79c5fb" size="18">MOST RECENT EXPERIENCE</font><br />Stream The World - Montréal QC - May 2009 - Present<br /><font color="#79c5fb">Senior Flash Developer</font>
Stream The World is a streaming technology and services company dedicated to broadcasters. Hired to build their ActionScript 3 core platform as a third-party API used to construct online radio and video players. Mandated to provide more scalability and forward compatibility using time-tested programming methods such as OOD, unit testing and CI.
<font color="#79c5fb" size="18">QUALIFICATIONS</font>
<font color="#79c5fb">Programming Capacities</font><br />ActionScript - Object Oriented Design - UML - Unit Testing & Continuous Integration - ANT - API Development - Documentation - PHP & MySQL - XML - XHTML & CSS - Javascript - SEO and SEM
<font color="#79c5fb">Trade Tools</font><br />Eclipse - Subversion - Enterprise Architect - Fluint ( xUnit for AS3 ) - Flash - PureMVC - jQuery - MODx - Wordpress - Photoshop - Illustrator - Dreamweaver - InDesign
<font color="#79c5fb" size="18">EDUCATION</font><br />Bachelor of Applied Communications in Journalism
Mount Royal College, Calgary AB